.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.game {
  background: skyblue;
  border-radius: 8px;
  padding: 20px;
  font-size: 1.2rem;
}

.hud {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0
}

.game-grid {
  background: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
}

.game-cell {
  height: 200px;
  width: 200px;
  background: skyblue;
}

.highlight:focus,
.highlight:hover {
  background: rgba(245, 245, 245, 0.2)
}

.game-cell.X {
  background-image: url('/assets/X.svg');
  background-size: contain;
  cursor: not-allowed;
}

.game-cell.O {
  background-image: url('/assets/O.svg');
  background-size: contain;
  cursor: not-allowed;
}

.game-complete {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
  z-index: 2;
  color: white;
  font-size: 2rem;
}
.game-complete.show{
  display: flex;
  flex-direction: column;
}

button.game-complete-button {
  margin: 15px;
}

button.game-complete-button {
  margin: 15px;
}

button.game-complete-button:focus,
button.game-complete-button:hover {
  background: rgb(0, 128, 128);
  color: white;
}


@media (max-width: 768px) {
.game-grid {
  grid-gap: 10px;
}

  .game-cell {
  height: 150px;
  width: 150px;
  background: skyblue;
}
}

@media (max-width: 540px) {
.game-grid {
  grid-gap: 5px;
}

  .game-cell {
  height: 100px;
  width: 100px;
  background: skyblue;
}
}
