body {
  font-size: 62.5%;
  position: relative;
  font-family: 'roboto';

}

header {
  text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}

button {
  border: none;
  text-decoration: none;
  cursor: pointer;
}

button:hover,
button:focus{
  background: rgba(250, 128, 114, 0.2);
}